/* Device */
#define DEVICE "ESP32 AC Heater"
#define SHELLY_IP "++++"

/* WLAN */
#define WIFI_SSID "++++"
#define WIFI_PASSWORD "++++"

/* InfluxDB */
// #define DATABASE -> Database @the moment disabled
#define INFLUXDB_URL "++++"
#define INFLUXDB_ORG "++++"
#define INFLUXDB_BUCKET "++++"
#define INFLUXDB_TOKEN "++++"